#login{
    width: 20%;
}
.po{
    padding-left: 60px;
}
#btn{
    width: 30%;
    background-color: white;
    color: red;
}
/*.col{*/
    /*height: 20%;*/
    /*background-color: white;*/
    /*color: red;*/
/*!*}*!
/*#content-nav{*/
    /*color: red;*/
    /*background-color: white;*/
/*}*/
.do{
     height: 480px;
 }
