<ion-view view-title="">
    <ion-nav-buttons id="question">
        <a class="button button-clear" id="question1">热门</a>
        <a class="button button-clear" id="question2" ng-click="classify()">分类</a>
        <a class="button button-clear" id="question3">订阅</a>
    </ion-nav-buttons>
    <ion-content>
        <mg-slide-box source-array="live.slideSource"></mg-slide-box>
        <div class="liDiv">
            <ul ng-repeat="like in likes">
                <li>{{like.roomName}}</li>
            </ul>
        </div>
        <ion-scroll direction="x" scrollbar-x="false" class="card" >
            <div id="scr-view">
                <div ng-repeat="live in lives">
                    <img ng-src="{{live.icon}}">
                    <span>{{live.tname}}</span>
                </div>
            </div>
        </ion-scroll>
        <div class="tep">
            <div ng-repeat="love in loves" class="tep-title">
                <img ng-src="{{love.image}}" class="full-image">
                <span>{{love.roomName}}</span>
                <!--<span>{{love.endTime}}</span>-->
            </div>
        </div>

    </ion-content>

</ion-view>