<ion-view view-title="">
   <ion-nav-buttons id="question">
       <a class="button button-clear" id="question1">问吧</a>
       <a class="button button-clear" id="question2">话题</a>
       <a class="button button-clear" id="question3">关注</a>
   </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <a class="button button-clear icon ion-android-search" id="question4" href="#/tabs/search" ></a>
        <a href="#/login" class="button button-clear icon ion-ios-person-outline" id="question5" ></a>
    </ion-nav-buttons>

    <ion-content>
        <div class="row row-wrap" id="row">
            <div class="col col-20" ng-repeat="item in items2">
                <button class="button button-light">
                    <img ng-src="{{item.icon}}">
                    <span class="life">{{item.name}}</span>

                </button>
            </div>

        </div>
        <button class="button botton-light button-block float">
            <a class="icon ion-chevron-down "></a>
        </button>
<ion-item ng-repeat="it in its">
    <div class="list card" id="close">
        <div class="item item-avatar">
            <img ng-src="{{it.headpicurl}}" class="pi">
            <p>
            <a class="subdued" style="color: black">{{it.name}}&nbsp;&nbsp;&nbsp;/</a>
            <a class="subdued" style="color: black">{{it.title}}</a>
            </p>
        </div>
        <div class="item item-body">
            <img ng-src="{{it.picurl}}" class="full-image">
            <h2>{{it.alias}}</h2>
            <p>
                <a href="#" class="subdued" style="color: blue">{{it.classification}}</a>
                <a href="#" class="subdued">{{it.concernCount}}关注&nbsp;|</a>
                <a href="#" class="subdued">{{it.questionCount}}提问</a>
                <a class="button button-assertive button-small" style="height: 15px;width: 50px;float: right;border-radius: 15px">+关注</a>
            </p>
        </div>
    </div>
</ion-item>
    </ion-content>

</ion-view>